<section>
  <div class="page-header">
    <h1>{{vm.media._id ? 'Edit Media Clip' : 'New Media Clip'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.media._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.mediaForm" class="form-horizontal" ng-submit="vm.save(vm.form.mediaForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
            <label class="control-label" for="title">Upload File</label>
            <input name="file" type="file" onchange="angular.element(this).scope().upload()" id="title" class="form-control" required>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.media.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.mediaForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Media title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Description</label>
          <textarea name="content" data-ng-model="vm.media.description" id="content" class="form-control" cols="30" rows="10" placeholder="Enter Description"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.media._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
