<section>
  <div class="page-header">
    <h1>
      Media
      <a class="btn btn-primary pull-right" data-ui-sref="admin.media.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="media in vm.media" data-ui-sref="admin.media.edit({mediaId: media._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="media.created | date:'mediumDate'"></span>
        by
        <span ng-if="media.user" ng-bind="media.user.displayName"></span>
        <span ng-if="!media.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="media.title"></h4>
      <p class="list-group-item-text" data-ng-bind="media.description"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="media.$resolved && !media.length">
    No media yet, why don't you <a data-ui-sref="admin.media.create">create one</a>?
  </div>
</section>
